apiVersion: v2
name: dawarich
description: "Self-hosted alternative to Google Location History"
type: application
version: 0.2.4
# renovate datasource=docker depName=docker.io/freikin/dawarich
appVersion: "0.37.1"
sources:
  - https://dawarich.app
