apiVersion: v2
name: dawarich
description: "Self-hosted alternative to Google Location History"
type: application
version: 0.2.5
# renovate datasource=docker depName=docker.io/freikin/dawarich
appVersion: "1.1.0"
sources:
  - https://dawarich.app
