{{- if .Values.secretKeyBase }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "dawarich.fullname" . }}-app
  labels:
    {{- include "dawarich.labels" . | nindent 4 }}
type: Opaque
data:
  secretKeyBase: {{ .Values.secretKeyBase | b64enc }}
{{- end }}

